In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("sentiment_tweets3.csv")
df.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [10]:
df=df.drop('Index',axis=1)
df.head()

,message to examine,label (depression result)
0,just had a real good moment. i missssssssss hi...,0
1,is reading manga http://plurk.com/p/mzp1e,0
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,@lapcat Need to send 'em to my accountant tomo...,0
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [12]:
df=df.rename(columns={"message to examine": "message", "label (depression result)": "label"})
df.head()

# Does the person have depression? 0 stands for NO and 1 stands for YES

                                             message  label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [13]:
#dataset
#https://www.kaggle.com/datasets/gargmanas/sentimental-analysis-for-tweets

In [14]:
df["label"].value_counts()

0    8000
1    2314
Name: label, dtype: int64